body {
  font-family: monospace;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#ticket {
  background: white;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.empresa {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.datosEmpesa {
  text-align: center;
  margin-top: auto;
  padding: auto;
}

.bold {
  font-weight: bold;
}

.section {
  margin: 10px 0;
}

.items td {
  padding: 4px 0;
}

.total,
.iva {
  margin-top: 10px;
  border-top: 1px dashed #000;
  padding-top: 5px;
}

#boton-imprimir {
  background: #0a2e60;
  color: rgb(255, 255, 255);
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
 font-weight:bold ;
  
  

}

#boton-imprimir:hover {
  background: #000000;
  color: white;
}

#boton-finalizar{
  background: #fa9600;
  color: rgb(0, 0, 0);
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  float: right;
  border-width: 2px;
  border-style: solid;
  font-weight:bold ;
}

#boton-finalizar:hover {
  background: #000000;
  color: white;
}