* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #fff;
    padding: 20px;
  }
  
  .container {
    width: 100%;
  }
  
  .mesa-title {
    text-align: center;
    color: #c76d3a;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .main {
    display: flex;
    gap: 20px;
  }
  
  /* Sidebar */
  .sidebar {
    background-color: #2e3440;
    color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 150px;
  }
  
  .sidebar h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar li {
    font-weight: bold;
    margin-bottom: 10px;
  }
    .sidebar li a {
        color: white;
        text-decoration: none;
    }
  
  /* Productos */
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-grow: 1;
  }
  
  .product {
    background-color: #e7e7e7;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
  }
  
  .product img {
    width: 100%;
    border-radius: 10px;
    max-height: 120px;
    object-fit: cover;
  }
  
  .product p {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .product span {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  /* Pedido */
  .pedido {
    background-color: #2e3440;
    color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .pedido h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
  
  .pedido ul {
    list-style: none;
    flex-grow: 1;
  }
  
  .pedido li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.95rem;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    background-color: #c76d3a;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .cobrar-btn {

    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(216, 216, 216);
    color: #2e3440;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 55px;
    
  }

   /* Cobrar */
   .Resumenpedido {
    background-color: #2e3440;
    color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     }
  
  .Resumenpedido h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
  
  .Resumenpedido ul {
    list-style: none;
    flex-grow: 1;
  }
  
  .Resumenpedido li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.95rem;
  }
  
  .Ptotal {
    display: flex;
    justify-content: space-between;
    background-color: #c76d3a;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 5px;
  }

  .pagos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 5px;
  }
  .pagos h2 {
    margin-bottom: 20px;
    font-size: 1.7rem;
    padding-bottom: 15px;
    margin-right: 30px 0px;
  }
.pagos button{
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #64D8B5;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 80px;
    
}
  
