body {
    font-family: Arial, sans-serif;
    background-color: #090909;
    padding: 20px;
     max-width: 400px;
  }
  h1 {
    color: #ffffff;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
  }
  th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  th {
    background-color: #eee;
  }
  .confirmed {
    color: green;
    font-weight: bold;
  }

    .volver {
    background: #0a2e60;
    color: white;
    padding: 12px 20px;  
    font-size: 16px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
  }